/* html, body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} */

/* html, body {
    font-family: 'Inter', sans-serif;
} */


html, body {
    font-family: "Inter", sans-serif;
    font-size:16px;
    color: #444444;
    background-color: aliceblue;
}

.bold-text{
    font-weight: 800;
}

.big-size{
    font-size:32px;
}